*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-contact{
    background: rgba(156, 184, 223, 0.49);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 41rem;
    padding: 32px;
}
.Form{
    display: flex;
    flex-direction: column;
}
.formulaire{
    width: 50%;
    margin-top: 16px;
}
.coordonnee{
    width: 50%;
    margin-top: 16px;
    margin-left: 50px;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}
input{
    padding: 0.45rem;
    width: 100%;
    border: 1px solid #9CB8DF;
}
label{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}
button{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 20%;
    padding: 15px;
    background-color: #9CB8DF;
    border: none;
    color: white;
}
.liens{
    display: flex;
    flex-direction: column;
}
a{
    padding: 5px;
    color: white;
}